@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --correct: rgb(0 167 109);
  --false: rgb(213 69 108);
  --hint: oklch(83.392% .124 66.558);
  --dark: #19444a;

  --red-pastel: rgb(255 167 160);
  --orange-pastel: rgb(255, 198, 121);
  --green-pastel: rgb(198 234 132);
  --cyan-pastel: rgb(171, 253, 215);
  --gold-pastel: #FAEB92;
  --yellow-pastel: #F8F3CE;
  --pink-pastel: #FCC6FF;
  --blue-pastel: #BBE9FF;
  --beige-pastel: rgb(229 220 186);
  --purple-pastel: rgb(221 198 255);

  --cyan-neon: #00ffff;
  --magenta-neon: #ff00ff;

  --base-100: oklch(97.788% .004 56.375);
  --base-200: oklch(93.982% .007 61.449);
  --base-300: oklch(91.586% .006 53.44);
  --base-400: rgb(229 227 219);
  --base-500: oklch(89.179% .006 48.514);
  --base-content: oklch(23.574% .066 313.189);


  --primary-100: oklch(97% .014 343.198);
  --primary-200: oklch(94% .028 342.258);
  --primary-300: oklch(89% .061 343.231);
  --primary-400: oklch(84.896% 0.08751 343.478);
  --primary-500: oklch(80.882% 0.1127 343.512);
  --primary-600: oklch(77.488% 0.13602 343.996);

  --primary: hsl(328.42,100%,85.1%);
  --primary-content: oklch(45% .187 3.815);

  --secondary: oklch(92% .084 155.995);
  --secondary-content: oklch(0% 0 0);

  --accent: oklch(90% .076 70.697);
  --accent-content: oklch(47% .157 37.304);

  --highlight: hsl(66.63,100%,68.04%);

  --neutral: oklch(39.445% .032 275.524);
  --neutral-content: oklch(87.889% .006 275.524);
  --neutral-content-strong: rgb(255 250 230 / 1);

  --info: oklch(68% .169 237.323);
  --info-content: oklch(29% .066 243.157);
  --success: oklch(69% .17 162.48);
  --success-content: oklch(26% .051 172.552);
  --warning: rgb(244 119 33);
  --warning-content: oklch(28% .066 53.813);
  --error: oklch(71% .194 13.428);
  --error-content: oklch(27% .105 12.094);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --hint: oklch(82% .189 84.429);
    --info: oklch(74% .16 232.661);
    --info-content: oklch(29% .066 243.157);
    --error: rgb(240 68 56 / 1);
    --error-content: #ffff;
    --success: oklch(77% .152 181.912);
    --success-content: oklch(27% .046 192.524);
    --warning: rgb(244 119 33);
    --warning-content: #ffff;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-nunito), sans-serif;
  --font-mono: var(--font-roboto-mono);
  --font-bungee: var(--font-bungee);

  --color-dark: var(--dark);
  --color-correct: var(--correct);
  --color-false: var(--false);
  --color-hint: var(--hint);

  --color-red-pastel: var(--red-pastel);
  --color-orange-pastel: var(--orange-pastel);
  --color-green-pastel: var(--green-pastel);
  --color-cyan-pastel: var(--cyan-pastel);
  --color-blue-pastel: var(--blue-pastel);
  --color-pink-pastel: var(--pink-pastel);
  --color-beige-pastel: var(--beige-pastel);
  --color-yellow-pastel: var(--yellow-pastel);
  --color-gold-pastel: var(--gold-pastel);
  --color-purple-pastel: var(--purple-pastel);

  --color-cyan-neon: var(--cyan-neon);
  --color-magenta-neon: var(--magenta-neon);

  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-content: var(--base-content);

  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);

  --color-primary: var(--primary);
  --color-primary-content: var(--primary-content);

  --color-secondary: var(--secondary);
  --color-secondary-content: var(--secondary-content);

  --color-accent: var(--accent);
  --color-accent-content: var(--accent-content);

  --color-neutral: var(--neutral);
  --color-neutral-content: var(--neutral-content);
  --color-neutral-content-strong: var(--neutral-content-strong);

  --color-highlight: var(--highlight);

  --color-info: var(--info);
  --color-info-content: var(--info-content);
  --color-success: var(--success);
  --color-success-content: var(--success-content);
  --color-warning: var(--warning);
  --color-warning-content: var(--warning-content);
  --color-error: var(--error);
  --color-error-content: var(--error-content);
}

body {
  font-family: var(--font-inter);
  background: var(--background);
  color: var(--foreground);
}

*,
:before,
:after {
  box-sizing: border-box;
}

:root {
  scrollbar-color: color-mix(in oklch, currentColor 35%, #0000)#0000
}


/***************************************************************
                     Shadows
***************************************************************/
@theme {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --spacing: .25rem;
}

.shadow-inner-hard-1 {
  --tw-shadow: inset 0 0.25rem 0 0 rgba(0, 0, 0, .1);
  --tw-shadow-colored: inset 0 0.25rem 0 0 var(--tw-shadow-color)
}

.shadow-inner-soft-1 {
  --tw-shadow: inset 0 0.25rem 0.25rem 0 rgba(0, 0, 0, .3);
  --tw-shadow-colored: inset 0 0.25rem 0.25rem 0 var(--tw-shadow-color)
}

.shadow-inner-hard-1,
.shadow-inner-soft-1 {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-hard-0 {
  --tw-shadow: 0 0rem 0 0 rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 0rem 0 0 var(--tw-shadow-color)
}

.shadow-hard-0\.5 {
  --tw-shadow: 0 0.125rem 0 0 rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 0.125rem 0 0 var(--tw-shadow-color)
}

.shadow-hard-0,
.shadow-hard-0\.5 {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

/***************************************************************
                     Skeleton
***************************************************************/
.skeleton {
  background-color: var(--color-base-300);
  will-change: background-position;
  background-image: linear-gradient(105deg, #0000 0% 40%, var(--color-base-100)50%, #0000 60% 100%);
  background-position-x: -50%;
  background-repeat: no-repeat;
  background-size: 200%;
  animation: 1.8s ease-in-out infinite skeleton;

  @media (prefers-reduced-motion:reduce) {
    & {
      transition-duration: 15s
    }
  }
}

@keyframes skeleton {
  0% {
    background-position: 150%
  }

  to {
    background-position: -50%
  }
}

/***************************************************************
                     Icon
***************************************************************/
.icon {
  height: calc(var(--spacing)*5);
  width: calc(var(--spacing)*5)
}

.icon,
.icon-sm {
  flex-grow: 0;
  flex-shrink: 0
}

.icon-sm {
  height: calc(var(--spacing)*4);
  width: calc(var(--spacing)*4)
}

.icon-xs {
  height: calc(var(--spacing)*3);
  width: calc(var(--spacing)*3)
}

.icon-lg,
.icon-xs {
  flex-grow: 0;
  flex-shrink: 0
}

.icon-lg {
  height: calc(var(--spacing)*6);
  width: calc(var(--spacing)*6)
}

.icon-xl {
  height: calc(var(--spacing)*7);
  width: calc(var(--spacing)*7)
}

.icon-2xl,
.icon-xl {
  flex-grow: 0;
  flex-shrink: 0
}

.icon-2xl {
  height: calc(var(--spacing)*8);
  width: calc(var(--spacing)*8)
}

.icon-3xl {
  height: calc(var(--spacing)*9);
  width: calc(var(--spacing)*9)
}

.icon-4xl {
  height: calc(var(--spacing)*10);
  width: calc(var(--spacing)*10)
}

.icon-5xl {
  height: calc(var(--spacing)*11);
  width: calc(var(--spacing)*11)
}

.icon-6xl {
  height: calc(var(--spacing)*12);
  width: calc(var(--spacing)*12)
}

.sidebar-icon {
  @apply flex items-center justify-center text-zinc-500 hover:text-zinc-950 hover:bg-zinc-950/5 focus-visible:bg-zinc-950/5 focus-visible:text-zinc-950 rounded-lg dark:text-zinc-400 dark:hover:bg-white/5 dark:focus-visible:bg-white/5 dark:hover:text-white dark:focus-visible:text-white;
}

/***************************************************************
                     Loading
***************************************************************/
.loading {
  pointer-events: none;
  aspect-ratio: 1;
  vertical-align: middle;
  width: calc(var(--size-selector, .25rem)*6);
  background-color: currentColor;
  display: inline-block;
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform-origin='center'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3' stroke-linecap='round'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 12 12' to='360 12 12' dur='2s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dasharray' values='0,150;42,150;42,150' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dashoffset' values='0;-16;-59' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
  mask-position: 50%;
  mask-size: 100%;
  mask-repeat: no-repeat
}

.loading-dots {
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='12' r='3'%3E%3Canimate attributeName='cy' values='12;6;12;12' keyTimes='0;0.286;0.571;1' dur='1.05s' repeatCount='indefinite' keySplines='.33,0,.66,.33;.33,.66,.66,1'/%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='3'%3E%3Canimate attributeName='cy' values='12;6;12;12' keyTimes='0;0.286;0.571;1' dur='1.05s' repeatCount='indefinite' keySplines='.33,0,.66,.33;.33,.66,.66,1' begin='0.1s'/%3E%3C/circle%3E%3Ccircle cx='20' cy='12' r='3'%3E%3Canimate attributeName='cy' values='12;6;12;12' keyTimes='0;0.286;0.571;1' dur='1.05s' repeatCount='indefinite' keySplines='.33,0,.66,.33;.33,.66,.66,1' begin='0.2s'/%3E%3C/circle%3E%3C/svg%3E")
}

.loading-xs {
  width: calc(var(--size-selector, .25rem)*4)
}

.loading-sm {
  width: calc(var(--size-selector, .25rem)*5)
}

.loading-md {
  width: calc(var(--size-selector, .25rem)*6)
}

.loading-lg {
  width: calc(var(--size-selector, .25rem)*7)
}

.loading-xl {
  width: calc(var(--size-selector, .25rem)*8)
}

.glitch {
  position: relative;
  outline: 2px solid #00ffff;
  border: 2px solid #ff00ff;
}
